@media screen and (min-width: 768px) {

  .mobile-menu, .ham {
    display: none;
  }

  header {
    div.head-element {
      @include container(43.75em);
      div.logo {
        width: 25%;
        max-width: 250px;
      }
    }
  }

  nav.desktop-menu {
    display: block;
    background-color: $color-secondary-2-2;
    ul.navigation {
      @include container(43.75em);
      margin-top: 0;
      li {
        width: percentage(1/5);
        float: left;
        list-style: none;
        font-size: 18px;
        a {
          display: block;
          padding: 1em;
          background: $color-secondary-2-2;
          color: #fff;
          &:hover {
            background-color: $color-secondary-2-3;
            color: #fff;
          }
        }
      }
    }
  }

  div.wrap {
    @include container(43.75em);
    div.main_content {
      @include span(12);
    }
    div.col1 {
      @include span(4 first);
    }
    div.col2 {
    @include span(4);
    }
    div.col3 {
      @include span(4 last);
    }

  }

  /* albums */
  div.album {
    margin: 2em 0;
    h3 {
      color: $color-secondary-1-4;
    }
    img {
      @include span(2 of 4);
    }
  }
}

