$color-primary-0: #F63A66;	// Main Primary color */
$color-primary-1: #EA9CAE;
$color-primary-2: #C36278;
$color-primary-3: #75142A;
$color-primary-4: #4E0012;

$color-secondary-1-0: #FF8D3C;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCDAA;
$color-secondary-1-2: #D4966A;
$color-secondary-1-3: #804115;
$color-secondary-1-4: #552300;

$color-secondary-2-0: #33D8C1;	// Main Secondary color (2) */
$color-secondary-2-1: #6BA099;
$color-secondary-2-2: #43857C;
$color-secondary-2-3: #0D5047;
$color-secondary-2-4: #00352E;

$color-complement-0: #7EF239;	// Main Complement color */
$color-complement-1: #B0DF95;
$color-complement-2: #7FBA5D;
$color-complement-3: #357013;
$color-complement-4: #1C4A00;



// As RGBa codes

$rgba-primary-0: rgba(246, 58,102,1);	// Main Primary color
$rgba-primary-1: rgba(234,156,174,1);
$rgba-primary-2: rgba(195, 98,120,1);
$rgba-primary-3: rgba(117, 20, 42,1);
$rgba-primary-4: rgba( 78,  0, 18,1);

$rgba-secondary-1-0: rgba(255,141, 60,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,205,170,1);
$rgba-secondary-1-2: rgba(212,150,106,1);
$rgba-secondary-1-3: rgba(128, 65, 21,1);
$rgba-secondary-1-4: rgba( 85, 35,  0,1);

$rgba-secondary-2-0: rgba( 51,216,193,1);	/* Main Secondary color (2) */
$rgba-secondary-2-1: rgba(107,160,153,1);
$rgba-secondary-2-2: rgba( 67,133,124,1);
$rgba-secondary-2-3: rgba( 13, 80, 71,1);
$rgba-secondary-2-4: rgba(  0, 53, 46,1);

$rgba-complement-0: rgba(126,242, 57,1);	/* Main Complement color */
$rgba-complement-1: rgba(176,223,149,1);
$rgba-complement-2: rgba(127,186, 93,1);
$rgba-complement-3: rgba( 53,112, 19,1);
$rgba-complement-4: rgba( 28, 74,  0,1);
