/* main site web styles */

@import "variables";

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header {
  background-color: $color-primary-0;
  min-height: 200px;
  width: 100%;
  padding: 1em;
  div.logo {
    width: 33%;
    float: left;
  }
  div.ham {
    width: 40px;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

div.view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section#main {
  flex: 1;
}

footer {
  min-height: 100px;
  background-color: $color-secondary-2-3;
  color: #fff;
  width: 100%;
}

