/* main site web styles */
/* Main Secondary color (2) */
/* Main Complement color */
/* line 5, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/style.scss */
header {
  background-color: #F63A66;
  min-height: 160px;
  min-height: 160px;
  width: 100%;
}

/* line 17, ../scss/style.scss */
div.view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* line 23, ../scss/style.scss */
section#main {
  flex: 1;
}

/* line 27, ../scss/style.scss */
footer {
  min-height: 100px;
  background-color: #0D5047;
  color: #fff;
}
